body {
  background-color: #76ABAE;
}

h1 {
  color: #EEEEEE;
  font-family: cursive;
  text-align: Center;
  font-size: 80px;
 
}

h3, h4 {
  color: #31363F;
  font-family: cursive;
  font-size: 20px;
}



p, ul, ol {
  font-family: cursive;
  font-size: 20px;
  color: #EEEEEE;
}

img[src="http://surl.li/qqvawt"] {
  width: 300px; 
  height: 400px;
  margin: 50px 800px;
  border-radius: 20%;
}

p:nth-of-type(1) {
  position: relative; 
  top: -450px; 
  left: 20px; 
  line-height: 1.5; 
  padding-right: 500px;
  padding-left: 100px;
  font-size: 25px;
 
}



